.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    background-color: dodgerblue;
}

.navbar-left {
    display: flex;
    justify-content: left;
}

.navbar-center {
    display: flex;
    justify-content: center;
}

.navbar-right {
    display: flex;
    justify-content: right;
}

.navbar-item {
    text-align: center;
    padding: 2em;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgba(255, 0, 0, 0.75);
}